<ngx-slick-carousel class="projectList carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)">

  <div class="projectItem slide" data-aos="fade-up" ngxSlickItem *ngFor="let projectItem of projectList">

    <div class="projectItem__container">

      <h3 class="projectItem__title projectItem__title--{{projectItem.title}}">{{ projectItem.title }}</h3>

      <div class="projectItem__tags">
        <div class="projectItem__tagsContainer">
          <div class="projectItem__tag projectItem__tag--{{ projectItemTag | lowercase }}" *ngFor="let projectItemTag of projectItem.tags">
            {{projectItemTag}}
          </div>
        </div>
        <div class="projectItem__tagsContainer">
          <div class="projectItem__tag projectItem__tag--{{ projectItemTag | lowercase }}" *ngFor="let projectItemTag of projectItem.tags">
            {{projectItemTag}}
          </div>
        </div>
      </div>

      <div class="projectItem__img">
        <img src="{{ projectItem.img }}" alt="{{ projectItem.title }}">
      </div>

    </div>

  </div>

</ngx-slick-carousel>
