<app-header></app-header>

<div class="pageContent">

  <!-- Section intro -->
  <section class="intro" id="intro">
    <div class="container intro__container">
      <div class="intro__left">
        <h1>
          <span class="letterAnim">Front-end</span><br/>
          <span class="letterAnim">developer</span>
        </h1>
        <div class="intro__img">
          <img src="../assets/imgs/utilities/portrait.jpg" alt="Jordan Barosso">
        </div>
      </div>
    </div>
  </section>

  <!-- Section about -->
  <section class="about" id="about">
    <div class="container about__container">
      <div class="about__left">
        ジョルダン
      </div>
      <div class="about__contenu fz--3xl">
        <span class="wordAnim">
          Ohayo ! I'm Jordan, a front-end developer based in Montpellier in
          France where i work for the communication company
        </span>
         <a href="https://www.azko.fr/">
          <span class="wordAnim">
            Azko
          </span>
        </a>
        <span class="wordAnim">
          .
        </span>
        <br/>
        <br/>
        <span class="wordAnim">
          I'm worried to optimize everything and make life easier while building perfect responsive and maintainable website.
        </span><br/>
        <br/>
        <span class="wordAnim">
          As you can see i love asian culture, but i also like cooking, astronomy and video game.
        </span>
      </div>
    </div>
    <div class="container">
      <div class="sectionTitre">
        <h2 >
          <span class="sectionTitre__number">
            <span class="letterAnim">
              01/
            </span>
          </span>
          <span class="letterAnim">
            About me
          </span>
        </h2>
      </div>
    </div>
  </section>

  <!-- Section work -->
  <section #work class="work" id="work" >
    <div class="container work__container h--full">

      <!-- Project list component -->
      <app-project-list-carousel></app-project-list-carousel>
    </div>
    <div class="container">
      <div class="sectionTitre">
        <h2 class="letterAnim">
          <span class="sectionTitre__number">
            <span class="letterAnim">
              02/
            </span>
          </span>
          <span class="letterAnim">
            My work
          </span>
        </h2>
      </div>
    </div>
  </section>

  <!-- Section Contact -->
  <section class="contact" id="contact">
    <div class="container contact__container">
      <div class="contact__left">
        <h3>
          A question ?<br/>
          A project ?
        </h3>
        <div class="contact__infos">
          Send me an <a href="mailto:barossojordan@gmail.com">email</a>,
          or <a href="tel:+33 6 77 65 15 84">+33 6 77 65 15 84</a>.
        </div>
      </div>
      <div class="contact__right">

        <!-- Contact list component -->
        <app-contact-list></app-contact-list>
      </div>
    </div>
    <div class="container">
      <div class="sectionTitre">
        <h2 class="letterAnim">
          <span class="sectionTitre__number">
            <span class="letterAnim">
              03/
            </span>
          </span>
          <span class="letterAnim">
            Contact me
          </span>
        </h2>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
